[submodule "Hadasim_Targil_1/hmo"]
	path = Hadasim_Targil_1/hmo
	url = https://github.com/ruthiedel/ruthiEdelHmo
[submodule "Hadasim_Targil_1/server/server"]
	path = Hadasim_Targil_1/server/server
	url = https://github.com/ruthiedel/hmo-server
